<!--Header-->

 <app-header></app-header>

<!--Fin Header-->
<!--======================================================-->

  <!--Intro Section-->

    <app-intro-section></app-intro-section>

  <!--FIN Intro Section-->
  <!--======================================================-->
  
  <main id="main">



    <!--About Us Section--> 

       <app-about-us></app-about-us>
    
    <!--FIN DE About Us Section-->
        <!--======================================================--> 

    <!--Services-->

      <app-services></app-services>

    <!--Fin Services-->
        <!--======================================================-->


    <!--Why Us Section-->

      <app-why-choose-us></app-why-choose-us>


    <!--FIN Why Us Section-->
        <!--======================================================-->


    <!--Portfolio Section-->

      <app-our-portfolio></app-our-portfolio>

    <!--Portfolio Section-->
        <!--======================================================-->
    
    <!--Clients Section-->

      <app-clients-section-testimonials></app-clients-section-testimonials>

    <!--FIN Clients Section-->
        <!--======================================================-->
    
    <!--Team Section-->

    <app-team-section></app-team-section>

    <!--FIN Team Section-->
        <!--======================================================-->
    
    <!--Clients Section-->

    <app-clients-section></app-clients-section>

    <!--FIN Clients Section-->
         <!--======================================================-->
    
    <!--Contact Section-->

       <app-contact-section></app-contact-section>

    <!--FIN Contact Section-->
    
  </main>

<!--======================================================-->

  <!--Footer-->

  <app-footer></app-footer>

  <!--Fin Footer-->
   
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->








<router-outlet></router-outlet>
